@import "colors";
@import "base";

.site-header {
    font-size: 1.5em;
    height: 2em;
    margin: 1em 0;
    text-align: right;

    li {
        @extend .body-type;
        line-height: 2em;
        display: inline-block;

        a {
            color: $white;
            &:hover {
                color: darken($white, 10);
            }
        }
    }
}