@import "colors";

.title {
    h1 {
        line-height: 1em;
    }

    .blaine, .cynthia {
        display: block;
    }

    .is-getting-married {
        display: block;
        font-size: .3em;
        line-height: 1em;
        color: $darkslate;
        letter-spacing: 5px;
    }
}