@import "colors";

.title {
    padding-top: 1em;
    font-size: 5em;
    line-height: 1.25em;

    .rings {
        display: flex;
        justify-content: center;
        margin-bottom: .5em;
    }

    .ring {
        width: 1em;
        height: 1em;
        border: .1em solid $darkslate;
        box-shadow: inset 0 0 0em .03em $white;
        border-radius: 100%;

        &.his {
            margin-right: -.25em;
            margin-bottom: -.25em;
        }

        &.hers {
            margin-left: -.25em;
            margin-top: -.25em;
        }
    }

    .date {
        margin-top: .25em;
        color: $darkslate;
        display: block;
    }

    .location {
        margin-top: 1em;
        font-size: 2rem;
    }
}