<!DOCTYPE html> 
<html>
    <head>
        <title>Blaine & Cynthia</title>
        <link rel="stylesheet" href="/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    </head>

    <body>
        <section class="container home">

            {{ __tera_context }}

            <nav class="site-header">
                <ul>
                    {% for page in section.pages %}
                    <li>
                        <a href="{{page.permalink | safe}}">{{page.title}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>

            {{ section.content | safe }}

            <footer>

            </footer>
        </section>
    </body>
</html>