[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dynamodb-json = "*"
pip = "==19.0.3"
boto3 = "*"

[requires]
python_version = "3.7"

[dev-packages]
pylint = "*"
autopep8 = "*"
